@@include('includes/head.html')
<body>
<div class="wrapper">
	<div class="drum-wrapper">
		<div class="drum">
		</div>
		<div class="drum-result"></div>
		<div class="drum-btn-wrapper">
			<div class="drum-btn">
				КРУТИ
				<br>КОЛЕСО
			</div>
		</div>
		<div class="big-arrow" style="background-image: url(/img/big-arrow-ru.png);">
	</div>
	</div>
	<div class="cover-win">
		<div class="popup-win">
			<div class="popup-win-inner">
				<div>
					<div class="popup-win-title">
						Поздравляем!
					</div>
					Вы выиграли

					<span>₽500</span>/
					<span>₴250</span>/
					<span>$10</span>/
					<span>€10</span>

					<br>У Вас есть еще одна попытка.
					<div class="btn">
						<div class="btn-inner">
							Крутить еще
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@@include('includes/scripts.html')
</body>
</html>