a,
label
  -webkit-tap-highlight-color: transparent
input[type=text],
input[type=submit],
textarea
  -webkit-appearance: none
html,
body
  overflow-x: hidden
  height: 100vh
  &.hide
    overflow: auto
    height: 100vh
    left: 0
    right: 0
    top: 0
    bottom: 0
    position: relative
body
  margin: 0
  padding: 0
  font-family: 'PT Sans'
  -webkit-tap-highlight-color: transparent
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  background-color: #f6fbfe
*,
*:before,*:after
  box-sizing: border-box
*:before,*:after
  display: none
  content: ''    
ul
  list-style: none
  display: block
  margin: 0
  padding: 0
  li
    display: block
.clearfix
  clear: both
  display: block