@media (max-height: 700px)
  .drum-wrapper
    width: calc(72.86vh + 72.86vw + 2vmin)
    height: calc(80.43vh + 80.43vw + 2vmin)
    margin-top: calc(14.29vh + 14.29vw + 2vmin)
  .drum
    width: calc(72.86vh + 72.86vw + 2vmin)
    height: calc(72.86vh + 72.86vw + 2vmin)
    &-btn-wrapper
      width: calc(31.57vh + 31.57vw + 2vmin)
      height: calc(31.57vh + 31.57vw + 2vmin)
      top: -calc(5.71vh + 5.71vw + 2vmin)
    &-btn
      width: calc(25.14vh + 25.14vw + 2vmin)
      height: calc(25.14vh + 25.14vw + 2vmin)
      border-radius: calc(142.71vh + 142.71vw + 2vmin)
      top: -calc(1.43vh + 1.43vw + 2vmin)
      font-size: calc(3.14vh + 3.14vw + 2vmin)
    &-result
      width: calc(37.86vh + 37.86vw + 2vmin)
      height: calc(37.71vh + 37.71vw + 2vmin)
      top: -calc(7.71vh + 7.71vw + 2vmin)
    &-part
      width: calc(20.57vh + 20.57vw + 2vmin)
      height: calc(20.57vh + 20.57vw + 2vmin)
      font-size: calc(5.14vh + 5.14vw + 2vmin)
      padding-top: calc(8.57vh + 8.57vw + 2vmin)
      text-calc(shadow: 0vh calc(0.29vh calc(0.71vh rgba(0, 0, 0, 0.4) + 0.4w + 2vmin)
      div
        margin-top: calc(2.29vh + 2.29vw + 2vmin)
        font-size: calc(2.29vh + 2.29vw + 2vmin)
  .cover
    &-win
      .popup-win
          width: calc(110.29vh + 110.29vw + 2vmin)
          height: calc(103.0vh + 103.0vw + 2vmin)
          font-size: calc(3.14vh + 3.14vw + 2vmin)
          &-inner
            width: calc(72.0vh + 72.0vw + 2vmin)
            height: calc(72.0vh + 72.0vw + 2vmin)
          &-title
            font-size: calc(6.43vh + 6.43vw + 2vmin)
            margin-bottom: calc(5.14vh + 5.14vw + 2vmin)
  .btn
    width: calc(41.0vh + 41.0vw + 2vmin)
    height: calc(20.29vh + 20.29vw + 2vmin)
    font-size: calc(3.14vh + 3.14vw + 2vmin)
    text-calc(shadow: 0vh calc(0.14vh 0vh rgba(255, 255, 255, 1) + 255, 1w + 2vmin)
    padding-top: calc(4.29vh + 4.29vw + 2vmin)
    &-inner
      width: calc(30.43vh + 30.43vw + 2vmin)
      height: calc(10.0vh + 10.0vw + 2vmin)
      line-height: calc(10.0vh + 10.0vw + 2vmin)
  .big-arrow
    width: calc(65.43vh + 65.43vw + 2vmin)
    height: calc(46.57vh + 46.57vw + 2vmin)
@media (max-width: 1000px)
  @media (min-height: 350px)
    .drum-wrapper
      width: (51.0vw+51.0vh+2vmin) 
      height: (56.3vw+56.3vh+2vmin) 
      margin-top: (10.0vw+10.0vh+2vmin) 
    .drum
      width: (51.0vw+51.0vh+2vmin) 
      height: (51.0vw+51.0vh+2vmin) 
      &-btn-wrapper
        width: (22.1vw+22.1vh+2vmin) 
        height: (22.1vw+22.1vh+2vmin) 
        top: -(4.0vw+4.0vh+2vmin) 
      &-btn
        width: (17.6vw+17.6vh+2vmin) 
        height: (17.6vw+17.6vh+2vmin) 
        border-radius: (99.9vw+99.9vh+2vmin) 
        top: -(1.0vw+1.0vh+2vmin) 
        font-size: (2.2vw+2.2vh+2vmin) 
      &-result
        width: (26.5vw+26.5vh+2vmin) 
        height: (26.4vw+26.4vh+2vmin) 
        top: -(5.4vw+5.4vh+2vmin) 
      &-part
        width: (14.4vw+14.4vh+2vmin) 
        height: (14.4vw+14.4vh+2vmin) 
        font-size: (3.6vw+3.6vh+2vmin) 
        padding-top: (6.0vw+6.0vh+2vmin) 
        text-shadow: (.0vw (.2vw+.2vh+2vmin)  (.5vw  rgba+.5vw  rgbh+2vmin) (0, 0, 0, 0.4)
        div
          margin-top: (1.6vw+1.6vh+2vmin) 
          font-size: (1.6vw+1.6vh+2vmin) 
    .cover
      &-win
        .popup-win
            width: (77.2vw+77.2vh+2vmin) 
            height: (72.1vw+72.1vh+2vmin) 
            font-size: (2.2vw+2.2vh+2vmin) 
            &-inner
              width: (50.4vw+50.4vh+2vmin) 
              height: (50.4vw+50.4vh+2vmin) 
            &-title
              font-size: (4.5vw+4.5vh+2vmin) 
              margin-bottom: (3.6vw+3.6vh+2vmin) 
    .btn
      width: (28.7vw+28.7vh+2vmin) 
      height: (14.2vw+14.2vh+2vmin) 
      font-size: (2.2vw+2.2vh+2vmin) 
      text-shadow: (.0vw (.1vw+.1vh+2vmin)  (.0vw  rgba+.0vw  rgbh+2vmin) (255, 255, 255, 1)
      padding-top: (3.0vw+3.0vh+2vmin) 
      &-inner
        width: (21.3vw+21.3vh+2vmin) 
        height: (7.0vw+7.0vh+2vmin) 
        line-height: (7.0vw+7.0vh+2vmin) 
    .big-arrow
      width: (45.8vw+45.8vh+2vmin) 
      height: (32.6vw+32.6vh+2vmin) 