body
  color: #fff
  overflow: hidden
  background:
    image: url(/img/bg.jpg)
    size: cover
    position: center
    repeat: no-repeat
%flexMidle
  display: flex
  justify-content: center
  align-items: center
.wrapper
  @extend %flexMidle
  height: 100vh
.drum-wrapper
  position: relative
  width: 60vmin
  height: 66.24vmin
  user-select: none
  margin-top: 11.76vmin
.drum
  width: 60vmin
  height: 60vmin
  position: absolute
  background:
    image: url(/img/drum.png)
    position: center bottom
    repeat: no-repeat
    size: 100%
  font-family: 'Open Sans', sans-serif
  overflow: hidden
  &-btn-wrapper
    width: 26vmin
    height: 26vmin
    background:
      image: url(/img/drum-btn.png)
      size: 100%
    position: absolute
    left: 0
    right: 0
    top: -4.71vmin
    bottom: 0
    margin: auto
    @extend %flexMidle
  &-btn
    cursor: pointer
    width: 20.71vmin
    height: 20.71vmin
    position: relative
    border-radius: 117.53vmin
    top: -1.18vmin
    font-weight: bold
    font-size: 2.59vmin
    text-align: center
    @extend %flexMidle
  &-result
    width: 31.18vmin
    height: 31.06vmin
    background:
      image: url(/img/result.png)
      size: 100%
    position: absolute
    top: -6.35vmin
    left: 0
    right: 0
    margin: auto
  &-part
    width: 16.94vmin
    height: 16.94vmin
    margin: auto
    position: absolute
    font-size: 4.24vmin
    text-align: center
    padding-top: 7.06vmin
    // line-height: 5.88vmin
    text-shadow: 0vmin 0.24vmin 0.59vmin rgba(0, 0, 0, 0.4)
    div
      margin-top: 1.88vmin
      font-size: 1.88vmin
    $percent: 40%
    &:nth-child(2)
      bottom: auto !important
      transform: translate(-$percent,$percent) rotate(45deg) !important
    &:nth-child(4)
      top: auto !important
      transform: translate(-$percent,-$percent) rotate(135deg) !important

    &:nth-child(8)
      bottom: auto !important
      transform: translate($percent,$percent) rotate(-45deg) !important
    &:nth-child(6)
      top: auto !important
      transform: translate($percent,-$percent) rotate(-135deg) !important
.cover
  &-win
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background:
      image: url(/img/bg-money.png)
      color: rgba(0,0,0,.9)
      position: center
      repeat: no-repeat
      size: cover
    @extend %flexMidle
    z-index: -10
    display: none
    opacity: 0
    &.show
      z-index: 10
      display: flex
    .popup-win
        width: 90.82vmin
        height: 84.82vmin
        background:
          image: url(/img/popup-win.png)
          size: 100%
        font-size: 2.59vmin
        transition-duration: 1s
        transition-timing-function: ease
        transition-property: opacity, transform
        transform: scale(.8)
        opacity: 0
        @extend %flexMidle
        &-inner
          width: 59.29vmin
          height: 59.29vmin
          @extend %flexMidle
          > div
            text-align: center
        span
          color: #ffc706
        &-title
          font-size: 5.29vmin
          margin-bottom: 4.24vmin
        &.show
          opacity: 1
          transform: scale(1)

.btn
  width: 33.76vmin
  height: 16.71vmin
  margin: 0 auto
  font-size: 2.59vmin
  color: #3a2c15
  text-shadow: 0vmin 0.12vmin 0vmin rgba(255, 255, 255, 1)
  text-transform: uppercase
  padding-top: 3.53vmin
  font-weight: bold
  cursor: pointer
  background:
    image: url(/img/btn.png)
    size: 100%
  &-inner
    width: 25.06vmin
    margin: 0 auto
    height: 8.24vmin
    line-height: 8.24vmin
.big-arrow
  width: 53.88vmin
  height: 38.35vmin
  background-color: transparent
  position: absolute
  right: 0
  top: 0
  transform: translate(96%,-82%) rotate(30deg) scale(.5)
  opacity: 0
  transition-duration: 1s
  transition-property: opacity, transform
  transition-timing-function: ease
  background-size: 100%
  &.show
    opacity: 1
    transform: translate(56%,-42%) rotate(0deg) scale(1)
